
{{#if query}}
	<h1>{{header}}</h1>

	<p>The game searched for was: {{query}}</p>
{{/if}}

{{#if game}}
	<p>We found this result:</p>
	<table>
		<tr>
			<td>Title:</td>
			<td>{{game.name}}</td>
		</tr>	
		<tr>
			<td>Price:</td>
			<td>{{game.price}}$</td>
		</tr>	
		<tr>
			<td>Url:</td>
			<td><a href={{game.url}}>{{game.url}}</a></td>
		</tr>
	</table>
	
	<h5>
		<input type="submit" value="Add To Group">
	</h5>

{{/if}}

{{#if error}}
	{{#if code}}
		<h1>Find a Game</h1>
		<form action= "/search" method = "GET">
			<h2>Write the name of the game you want to search right below </h2>
			<label for="txtQuery">Name:</label>
			<input type="text" id="txtQuery" name="name">
			<input type="submit" value="Search">
		</form>
		<p style="text-align: center;"><strong> ERROR {{code}}: {{error}}</strong></p>
	{{/if}}
{{/if}}
			