<h1>{{game.name}} Information</h1>

<p>We found this:</p>

<table>
	<tr>
		<td  class='gameInfoSearch'>Title:</td>
		<td>{{game.name}}</td>
	</tr>
	<tr>
		<td  class='gameInfoSearch'>Description:</td>
		<td>{{{game.description}}}</td>
	</tr>		
	<tr>
		<td  class='gameInfoSearch'>Mechanics:</td>
		<td>{{game.mechanics}}</td>
	</tr>	
	<tr>
		<td  class='gameInfoSearch'>Categories:</td>
		<td>{{game.categories}}</td>
	</tr>	
	<tr>
		<td  class='gameInfoSearch'>Image_url:</td>
		<td><a href={{game.image_url}} target="_blank" rel="noopener noreferrer">{{game.image_url}}</td>
	</tr>	
	<tr>
		<td  class='gameInfoSearch'>Url:</td>
		<td><a href={{game.url}} target="_blank" rel="noopener noreferrer">{{game.url}}</a></td>
	</tr>
</table>
