{{#if query}}
	<h1>{{header}}</h1>

	<h4>The name searched for was: {{query}}</h4>
{{/if}}

{{#if game}}
	<p>We found this result:</p>
	<table>
		<tr>
			<td>Title:</td>
			<td>{{game.name}}</td>
		</tr>	
		<tr>
			<td>Price:</td>
			<td>{{game.price}}$</td>
		</tr>	
		<tr>
			<td>Url:</td>
			<td><a href={{game.url}} target="_blank" rel="noopener noreferrer">{{game.url}}</a></td>
		</tr>
	</table>
	
	<h5>
		
		
		{{#if groups}}
			
			
			<label >Choose a group to add to:</label>
			<form action="/add_game_to_group" id= "group_form" method = "POST">
				<input type='hidden' name='gameId' value={{game.id}}>
			
				<select required name="groupId", form ="group_form" >
					<option selected ></option>
					{{#each groups}}
						<option value={{this.id}} >{{this.name}}</option>
					{{/each}}
				</select>	
			
			<input type="submit" required value="Add To Group">
			</form>
		
		{{/if}}

	
	</h5>
{{/if}}