{{#if query}}
	<h1>{{header}}</h1>

	<h4>The game searched for was: {{query}}</h4>
{{/if}}

{{#if game}}
	<p>We found this result:</p>
	<table>
		<tr>
			<td>Title:</td>
			<td>{{game.name}}</td>
		</tr>	
		<tr>
			<td>Price:</td>
			<td>{{game.price}}$</td>
		</tr>	
		<tr>
			<td>Url:</td>
			<td><a href={{game.url}} target="_blank" rel="noopener noreferrer">{{game.url}}</a></td>
		</tr>
	</table>
	
	<h5>
		<input type="submit" value="Add To Group">
	</h5>

{{/if}}

{{#if error }}
	{{#if code}}
		<h1>Find a Game</h1>		
		<form action= "/search/result" method = "GET">
			<body>
				<h2>Write the name of the game you want to search right below </h2>
				<p><label for="txtQuery">Name:</label></p>
				<input type="text" id="txtQuery" name="name" size="36">
				<input type="submit" value="Search">
			</body>
		</form>
		<error><strong> ERROR {{code}}: {{error}}</strong></error>
	{{/if}}
{{/if}}
