<h1>{{header}}</h1>

{{#if query}}
	<p>The game searched for was: {{query}}</p>
{{/if}}

{{#if game}}
	<p>We found this result:</p>
	<table>
		<tr>
			<td>Title:</td>
			<td>{{game.name}}</td>
		</tr>	
		<tr>
			<td>Price:</td>
			<td>{{game.price}}$</td>
		</tr>	
		<tr>
			<td>Url:</td>
			<td><a href={{game.url}}>{{game.url}}</a></td>
		</tr>
	</table>	
{{/if}}

{{#if error}}
	{{#if code}}
		<p style="text-align: center;"><strong> ERROR {{code}}: {{error}}</strong></p>
	{{/if}}
{{/if}}
			