<h1>{{header}}</h1>

{{#if query}}
	<p>The game searched for was: {{query}}</p>
{{/if}}

{{#if game}}
	<p>We found this result:</p>
	<table>
		<tr>
			<td>Title:</td>
			<td>{{game.name}}</td>
		</tr>	
		<tr>
			<td>Price:</td>
			<td>{{game.price}}$</td>
		</tr>	
		<tr>
			<td>Url:</td>
			<td><a href={{game.url}}>{{game.url}}</a></td>
		</tr>
	</table>
	
	<h5>
		<label for="txtQuery">Wanna add to a group? Write the name:</label>
		<input type="text" id="txtQuery" name="name">
		<input type="submit" value="Add">
	</h5>

{{/if}}

{{#if error}}
	{{#if code}}
		<p style="text-align: center;"><strong> ERROR {{code}}: {{error}}</strong></p>
	{{/if}}
{{/if}}
			