<h1>{{name}} Information</h1>

<p>We found this:</p>
<table>
	<tr>
		<td  class='gameInfoSearch'>Title:</td>
		<td>{{name}}</td>
	</tr>
	<tr>
		<td  class='gameInfoSearch'>Description:</td>
		<td>{{description}}</td>
	</tr>		
	<tr>
		<td  class='gameInfoSearch'>Mechanics:</td>
		<td>{{mechanics}}</td>
	</tr>	
	<tr>
		<td  class='gameInfoSearch'>Categories:</td>
		<td>{{categories}}</td>
	</tr>	
	<tr>
		<td  class='gameInfoSearch'>Image_url:</td>
		<td><a href={{image_url}} target="_blank" rel="noopener noreferrer">{{image_url}}</td>
	</tr>	
	<tr>
		<td  class='gameInfoSearch'>Url:</td>
		<td><a href={{url}} target="_blank" rel="noopener noreferrer">{{url}}</a></td>
	</tr>
</table>
