<h1>{{header}}</h1>

<form action= "/groups/create" method = "GET">
	<label > Need a new group? </label>
	<input type="submit" value="Create">
</form>

{{#if error}}
	{{#if code}}
		<error><strong> ERROR {{code}}: {{error}}</strong></error>
	{{/if}}
{{/if}}

{{#if groups}}
	{{#each groups}}
		<ul id="myUL">
		<li><a href="/groups/{{id}}" >{{name}}</a></li>
		</ul>
	{{/each}}
{{/if}}


