<h1>{{groupdetails.name}}</h1>

<td>
    <div style="width: 500px; height: 150px; border: 5px solid #000;">
        <element class='gameURL'>DESCRIPTION</element> :<br>{{groupdetails.description}}
    </div>
</td>

{{#if games}}
    {{#each games}}
		<div style="width: 500px; height: 125px; border: 5px solid #000;">
            <table>
                <tr>
                    <td>
                        <element class='gameURL'>NAME</element> : {{name}} <element class='gameURL'>PUBLISHER</element> : {{publisher}}</br>
                        <element class='gameURL'>MIN_PLAYERS</element> : {{min_players}} <element class='gameURL'>MAX_PLAYERS</element> : {{min_players}}<br>
						<element class='gameURL'>MIN_AGE</element> : {{min_age}}<br>
                        <element class='gameURL'>PRICE</element> : {{price}}$<br>
                        <element class='gameURL'>URL</element> : <a href={{url}} target="_blank" rel="noopener noreferrer">{{url}}</a></br>
                    </td>
                </tr>
            </table>
        </div>
    {{/each}}
{{/if}}