<h1>{{header}}</h1>

<form action = "/groups/create" method = "GET">
	<label > Need a new group? </label>
	<input class = "button_green" type = "submit" value = "Create">
</form>

{{#if error}}
	{{#if code}}
		<error><strong> ERROR {{code}}: {{error}}</strong></error>
	{{/if}}
{{/if}}

{{#if groups}}
	{{#each groups}}
		<ul id="groups">
			<li>
				<a href="/groups/{{id}}">{{name}}</a>
				<form action = "TODO" method = "GET">
					<input class = "button_red" type = "submit" value = "Delete">
				</form>
			</li>
		</ul>
	{{/each}}
{{/if}}


