<h1>{{groupdetails.name}}</h1>

<table>
    <tr>
        {{#if game1}}
            <td>
                <div style="width: 495px; height: 100px; border: 5px solid #000;">
                    <table>
                        <tr>
                            <td>
                                <element id='game1URL'>NAME</element> : {{game1.name}} <element id='game1URL'>PUBLISHER</element> : {{game1.publisher}}</br>
                                <element id='game1URL'>MIN_PLAYERS</element> : {{game1.min_players}}<br>
                                <element id='game1URL'>PRICE</element> : {{game1.price}}$<br>
                                <element id='game1URL'>URL</element> : <a href={{game1.url}} target="_blank" rel="noopener noreferrer">{{game1.url}}</a></br>
                            </td>
                        </tr>
                   </table>
                </div>
            </td>

            <td>
                <center><div style="width: 490px; height: 150px; border: 5px solid #000;"><element id='game1URL'>DESCRIPTION</element><br>{{groupdetails.description}}</div></center>
            </td>
        {{/if}}

        {{#if game2}}
            <td>
                <div style="width: 495px; height: 100px; border: 5px solid #000;">
                    <table>
                        <tr>
                            <td>
                                <element id='game1URL'>NAME</element>: {{game2.name}} <element id='game1URL'>PUBLISHER</element>: {{game2.publisher}}</br>
                                <element id='game1URL'>MIN_PLAYERS</element>: {{game2.min_players}}<br>
                                <element id='game1URL'>PRICE</element>: {{game2.price}}$<br>
                                <element id='game1URL'>URL</element>: <a href={{game2.url}} target="_blank" rel="noopener noreferrer">{{game2.url}}</a></br>
                            </td>
                        </tr>
                   </table>
                </div>
            </td>
        {{/if}}
    </tr>
</table>

{{#if games}}
    {{#each games}}
            <table>
                <td>
                    <div style="width: 495px; height: 100px; border: 5px solid #000;">
                        <table>
                            <tr>
                                <td>
                                    <element id='game1URL'>NAME</element> : {{name}} <element id='game1URL'>PUBLISHER</element> : {{publisher}}</br>
                                    <element id='game1URL'>MIN_PLAYERS</element> : {{min_players}}<br>
                                    <element id='game1URL'>PRICE</element> : {{price}}$<br>
                                    <element id='game1URL'>URL</element> : <a href={{url}} target="_blank" rel="noopener noreferrer">{{url}}</a></br>
                                </td>
                            </tr>
                    </table>
                    </div>
                </td>
            </table>
    {{/each}}
{{/if}}

{{#if error}}
    {{error}}
{{/if}}