
{{#if groups}}
	<h1>{{header}}</h1>
	{{#if games}}
		<p>Here are the most popular games according to board game atlas website:</p>
		
		{{#each games}}
			<table>
				<tr>
					<td>Title:</td>
					<td>{{name}}</td>
				</tr>	
				<h2></h2>
				<tr>
					<td>Price:</td>
					<td>{{price}}$</td>
				</tr>	
				<tr>
					<td>Url:</td>
					<td><a href={{url}} target="_blank" rel="noopener noreferrer">{{url}}</a></td>
				</tr>
				<tr>
				<td>
						<label>Choose a group to add to:</label>
						<form action="/add_game_to_group" id= "form_for_{{name}}" method = "POST">
							<input type='hidden' name='gameId' value={{this.id}}>
				
							<select required name="groupId" form ="form_for_{{name}}" >
								<option selected></option>
								{{#each ../groups}}
									<option value={{this.id}} >{{this.name}}</option>
								{{/each}}
							</select>	
				
							<input type="submit" required value="Add To Group">
						</form>
					</td>
				
				</tr>
				
			</table>	
			
		{{/each}}
		
	{{/if}}
{{/if}}
{{#if error}}
	{{#if code}}
		<h1>Search most popular games</h1>
		<form action= "/popular/result" method = "GET">
			<h2><label >How many games do you want?</label></h2>
			<p><label >Count:</label></p>
			<input type="text"  placeholder='10 items default..' name="count">
			<input type="submit" value="Click me for the most popular games">
		</form>	
		<error><strong> ERROR {{code}}: {{error}}</strong></error>
	{{/if}}
{{/if}}