
<h1>{{header}}</h1>

{{#if games}}
	<p>Here are the most popular games according to board game atlas website:</p>
		{{#each games}}
			<table>
				<tr>
					<td  class='gameInfoSearch'>Title:</td>
					<td>{{name}}</td>
				</tr>	
				<h2></h2>
				<tr>
					<td  class='gameInfoSearch'>Publisher:</td>
					<td>{{publisher}}</td>
				</tr>		
				<tr>
					<td  class='gameInfoSearch'>Min Age:</td>
					<td>{{min_age}}</td>
				</tr>	
				<tr>
					<td  class='gameInfoSearch'>Min Players:</td>
					<td>{{min_players}}</td>
				</tr>
				<tr>
					<td  class='gameInfoSearch'>Max Players:</td>
					<td>{{max_players}}</td>
				</tr>
				<tr>
					<td  class='gameInfoSearch'>Price:</td>
					<td>{{price}}$</td>
				</tr>	
				<tr>
					<td  class='gameInfoSearch'>Url:</td>
					<td><a href={{url}} target="_blank" rel="noopener noreferrer">{{url}}</a></td>
				</tr>
				<tr>
				<td>
					<form action='/games/{{id}}' method = "GET">
						<input type="submit" required value="Get more details">
					</form>
					{{#if ../groups}}
						<label>Choose a group to add to:</label>
						
						<form action="/groups/games" id= "form_for_{{name}}" method = "POST">
							<input type='hidden' name='gameId' value={{this.id}}>
				
							<select required name="groupId" form ="form_for_{{name}}" >
								<option selected></option>
								{{#each ../groups}}
									<option value={{this.id}} >{{this.name}}</option>
								{{/each}}
							</select>	
				
							<input type="submit" required value="Add To Group">
						</form>
					</td>
					{{/if}}
					
				</tr>
				
			</table>	
			
		{{/each}}
{{/if}}

{{#if error}}
	{{#if code}}
		<h1>Search most popular games</h1>
		<form action= "/popular/result" method = "GET">
			<h2><label >How many games do you want?</label></h2>
			<p><label >Count:</label></p>
			<input type="text"  placeholder='10 items default..' name="count">
			<input type="submit" value="Click me for the most popular games">
		</form>	
		<error><strong> ERROR {{code}}: {{error}}</strong></error>
	{{/if}}
{{/if}}