{{#if query}}
	<h1>{{header}}</h1>

	<h4>The name searched for was: {{query}}</h4>
{{/if}}

{{#if count}}
    <p>Here are the results for the top {{#if count}} {{count}} {{/if}} {{#else}} 10 {{/else}}games:</p>
{{/if}}

{{!-- <div class="center"><div class="pagination" id="pagination"></div></div> --}}
<div class="list" id="list"></div>
<div class="center"><div class="pagination" id="pagination"></div></div>

{{#if error}}
    {{#if code}}
        <error><strong> ERROR {{code}}: {{error}}</strong></error>
    {{/if}}
{{/if}}

<script src="/public/client.js"></script>
<script>
    pagination({{{games}}},{{{groups}}})
</script>
