<h1>{{game.name}} Information</h1>

<p>We found this:</p>

<table>
	<tr>
		<td  class='item'>Title:</td>
		<td>{{game.name}}</td>
	</tr>
	
    {{#if game.description}}
	<tr>
		<td  class='item'>Description:</td>
		<td>{{{game.description}}}</td>
	</tr>
    {{/if}}

	{{#if game.mechanics}}
    <tr>
		<td  class='item'>Mechanics:</td>
		<td>{{game.mechanics}}</td>
	</tr>
    {{/if}}

    {{#if game.categories}}
	<tr>
		<td  class='item'>Categories:</td>
		<td>{{game.categories}}</td>
	</tr>
    {{/if}}

	<tr>
		<td  class='item'>Image_url:</td>
		<td><a href={{game.image_url}} target="_blank" rel="noopener noreferrer">{{game.image_url}}</td>
	</tr>

	<tr>
		<td  class='item'>Url:</td>
		<td><a href={{game.url}} target="_blank" rel="noopener noreferrer">{{game.url}}</a></td>
	</tr>

	 
</table>
