<h1>{{header}}</h1>

<form action = "/groups/create" method = "GET">
	<label > Need a new group? </label>
	<input class = "button_green" type = "submit" value = "Create">
</form>

{{#if error}}
	{{#if code}}
		<error><strong> ERROR {{code}}: {{error}}</strong></error>
	{{/if}}
{{/if}}

{{#if groups}}
	{{#each groups}}
		<ul class="groups" id='entry_{{id}}'>
			<li>
				<a href="/groups/{{id}}">{{name}}</a>
				
				<input class = "button_group_delete" type = "button" value = "Delete" id='but_del_{{id}}_{{../token}}' >
				
			</li>
		</ul>
	{{/each}}
{{/if}}


{{#if groups}}
<script src="/public/client.js"></script>
<script>
	prepareGroupDeleteButtons();
</script>
{{/if}}

